In [159]:
import warnings
import locale
from locale import atof
warnings.simplefilter(action='ignore')
import pandas as pd
import numpy as np
TEST_SIZE = 0.25
locale.setlocale(locale.LC_NUMERIC, '')

'en_US.UTF-8'

In [160]:
genesData = pd.read_csv('genes.csv', delimiter = ',')

In [161]:
genesData.head()

,Region/Haplogroup,I1,I2*/I2a,I2b,R1a,R1b,G,J2,J*/J1,E1b1b,T,Q,N
0,Albania,2.0,12.0,1.5,9.0,16.0,1.5,19.5,2.0,27.5,1.0,0.0,0.0
1,Austria,12.0,7.0,2.5,19.0,32.0,7.5,9.0,1.0,8.0,1.0,0.5,0.5
2,Belarus,5.5,17.5,1.0,51.0,5.5,1.5,2.5,1.0,4.0,0.0,0.0,10.0
3,Belgium,12.0,3.0,4.5,4.0,61.0,4.0,4.0,1.0,5.0,1.0,0.5,0.0
4,Bosnia-Herzegovina,4.5,50.5,0.0,18.0,3.5,1.5,5.5,1.0,11.5,0.5,0.5,1.0

In [162]:
countriesData = pd.read_csv('countries.csv', delimiter = ',')

In [163]:
countriesData.head()

   Country   Total Deaths Tot_Cases_\n1M_pop
0    China  80,928  3,245                 56
1    Italy  41,035   3405                679
2     Iran  18,407  1,284                219
3    Spain  17,963    830                384
4  Germany  15,309     44                183

In [164]:
genesData.columns

Index(['Region/Haplogroup', 'I1', 'I2*/I2a', 'I2b', 'R1a', 'R1b', 'G', 'J2',
       'J*/J1', 'E1b1b', 'T', 'Q', 'N'],
      dtype='object')

In [165]:
countriesData.columns

Index(['Country', 'Total', 'Deaths', 'Tot_Cases_\n1M_pop'], dtype='object')

In [166]:
left_join = pd.merge(left=genesData, right=countriesData, how='left', left_on='Region/Haplogroup', right_on='Country')

In [167]:
left_join

,Region/Haplogroup,I1,I2*/I2a,I2b,R1a,R1b,G,J2,J*/J1,E1b1b,T,Q,N,Country,Total,Deaths,Tot_Cases_\n1M_pop
0,Albania,2.0,12.0,1.5,9.0,16.0,1.5,19.5,2.0,27.5,1.0,0.0,0.0,Albania,64,2,22
1,Austria,12.0,7.0,2.5,19.0,32.0,7.5,9.0,1.0,8.0,1.0,0.5,0.5,Austria,"2,157",6,239
2,Belarus,5.5,17.5,1.0,51.0,5.5,1.5,2.5,1.0,4.0,0.0,0.0,10.0,Belarus,51,NaN,5
3,Belgium,12.0,3.0,4.5,4.0,61.0,4.0,4.0,1.0,5.0,1.0,0.5,0.0,Belgium,"1,795",21,155
4,Bosnia-Herzegovina,4.5,50.5,0.0,18.0,3.5,1.5,5.5,1.0,11.5,0.5,0.5,1.0,Bosnia-Herzegovina,64,NaN,20
5,Bulgaria,4.0,20.0,2.0,17.0,11.0,5.0,11.0,3.0,23.5,1.5,0.5,0.5,Bulgaria,107,3,15
6,Croatia,5.5,37.0,1.0,24.0,8.5,2.5,6.0,1.0,10.0,0.5,1.0,0.5,Croatia,110,1,27
7,Czech Republic,7.5,8.5,3.0,33.0,28.0,5.0,4.0,1.0,6.5,0.5,0.0,2.5,Czech Republic,694,NaN,65
8,Cyprus,0.5,4.0,0.0,3.5,9.5,13.0,28.5,9.5,24.5,2.5,0.5,1.0,Cyprus,67,NaN,55
9,Denmark,34.0,2.0,5.5,15.0,33.0,2.5,3.0,0.0,2.5,0.0,1.0,1.0,Denmark,"1,151",6,199
10,Greenland,14.5,0.0,2.0,9.0,21.5,0.0,2.0,0.0,0.5,0.0,49.5,0.0,Greenland,2,NaN,35
11,England,14.0,2.5,4.5,4.5,67.0,1.5,3.5,0.0,2.0,0.5,0.5,0.0,England,2756,130,NaN
12,Estonia,15.0,3.0,0.5,32.0,8.0,0.0,1.0,0.0,2.5,3.5,0.5,34.0,Estonia,267,NaN,201
13,Finland,28.0,0.0,0.5,5.0,3.5,0.0,0.0,0.0,0.5,0.0,0.0,61.5,Finland,400,NaN,72
14,France,8.5,3.0,3.5,3.0,58.5,5.5,6.0,1.5,7.5,1.0,0.5,0.0,France,"10,995",372,168
15,Germany,16.0,1.5,4.5,16.0,44.5,5.0,4.5,0.0,5.5,1.0,0.5,1.0,Germany,"15,309",44,183
16,Greece,3.5,9.5,1.5,11.5,15.5,6.5,23.0,3.0,21.0,4.5,0.0,0.0,Greece,464,6,45
17,Hungary,8.5,16.0,2.0,29.5,18.5,3.5,6.5,3.0,8.0,0.0,0.0,0.5,Hungary,73,1,8
18,Iceland,29.0,0.0,4.0,23.0,42.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,Iceland,330,NaN,967
19,Ireland,6.0,1.0,5.0,2.5,81.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,Ireland,557,3,113
20,Italy,4.5,3.0,2.5,4.0,39.0,9.0,15.5,3.0,13.5,2.5,0.0,0.0,Italy,"41,035",3405,679
21,Kosovo,5.5,2.5,0.0,4.5,21.0,0.0,16.5,0.0,47.5,0.0,0.0,0.0,NaN,NaN,NaN,NaN
22,Latvia,6.0,1.0,1.0,40.0,12.0,0.0,0.5,0.0,0.5,0.5,0.5,38.0,Latvia,86,NaN,46
23,Lithuania,6.0,6.0,1.0,38.0,5.0,0.0,0.0,0.0,1.0,0.5,0.5,42.0,Lithuania,41,NaN,15
24,Macedonia,3.0,23.0,1.5,13.5,12.5,4.0,14.0,2.0,21.5,1.5,0.5,0.5,Macedonia,49,NaN,24
25,Malta,1.0,10.0,1.0,3.5,32.5,6.5,21.0,8.0,9.0,4.5,1.0,0.0,Malta,53,NaN,120
26,Moldova,5.0,21.0,3.0,30.5,16.0,1.0,4.0,4.0,13.0,1.0,0.0,1.5,Moldova,49,1,12
27,Montenegro,6.0,29.5,1.5,7.5,9.5,2.5,9.0,0.5,27.0,0.0,2.0,1.5,Montenegro,10,NaN,16
28,Netherlands,16.5,1.0,6.5,4.0,49.0,4.5,3.5,0.5,3.5,1.0,0.0,0.0,Netherlands,"2,460",76,144
29,Norway,31.5,0.0,4.5,25.5,32.0,1.0,0.5,0.0,1.0,0.0,1.0,2.5,Norway,"1,766",7,326
30,Poland,8.5,5.5,2.0,57.5,12.5,1.5,2.5,0.0,3.5,0.5,0.5,4.0,Poland,357,5,9
31,Portugal,2.0,1.5,3.0,1.5,56.0,6.5,9.5,3.0,14.0,2.5,0.5,0.0,Portugal,785,3,77
32,Romania,3.5,28.0,2.5,18.0,15.5,3.0,13.5,1.0,14.0,1.0,0.5,1.5,Romania,277,NaN,14
33,Russia,5.0,10.5,0.0,46.0,6.0,1.0,3.0,0.0,2.5,1.5,1.5,23.0,Russia,199,1,1
34,Scotland,9.0,1.0,4.0,8.5,72.5,0.5,2.0,0.0,1.5,0.5,0.5,0.0,Scotland,266,6,NaN
35,Serbia,8.0,34.0,0.5,18.0,6.0,2.5,9.0,1.0,15.0,0.5,1.0,-2.5,Serbia,103,NaN,12
36,Slovakia,6.5,16.0,1.5,41.5,14.5,4.0,2.0,1.0,6.5,0.5,0.5,3.0,Slovakia,124,NaN,23
37,Slovenia,9.0,20.5,1.5,38.0,18.0,1.5,2.5,0.0,5.0,1.0,0.0,0.0,Slovenia,319,1,153
38,Spain,1.5,4.5,1.0,2.0,69.0,3.0,8.0,1.5,7.0,2.5,0.0,0.0,Spain,"17,963",830,384
39,Sweden,37.0,1.5,3.5,16.0,21.5,1.0,2.5,0.0,3.0,0.0,2.5,7.0,Sweden,"1,439",11,142
40,Switzerland,14.0,1.5,8.0,3.5,50.0,7.5,3.0,0.5,7.5,0.5,1.5,1.0,Switzerland,"3,944",41,456
41,Turkey/Anatolia,1.0,4.0,0.5,7.5,16.0,11.0,24.0,9.0,11.0,2.5,2.0,4.0,Turkey/Anatolia,192,3,2
42,Ukraine,4.5,20.5,0.5,44.0,8.0,3.0,4.5,0.5,6.5,1.0,0.5,5.5,Ukraine,21,3,0.5
43,Wales,12.0,1.0,3.0,1.0,74.0,2.5,0.5,0.0,4.0,1.0,0.0,0.0,Wales,170,2,NaN

In [168]:
left_join = left_join.fillna(0) #no deaths

In [169]:
left_join = left_join.drop(['Country',
                'Tot_Cases_\n1M_pop','Total'], axis=1)

In [170]:
left_join.head()

,Region/Haplogroup,I1,I2*/I2a,I2b,R1a,R1b,G,J2,J*/J1,E1b1b,T,Q,N,Deaths
0,Albania,2.0,12.0,1.5,9.0,16.0,1.5,19.5,2.0,27.5,1.0,0.0,0.0,2
1,Austria,12.0,7.0,2.5,19.0,32.0,7.5,9.0,1.0,8.0,1.0,0.5,0.5,6
2,Belarus,5.5,17.5,1.0,51.0,5.5,1.5,2.5,1.0,4.0,0.0,0.0,10.0,0
3,Belgium,12.0,3.0,4.5,4.0,61.0,4.0,4.0,1.0,5.0,1.0,0.5,0.0,21
4,Bosnia-Herzegovina,4.5,50.5,0.0,18.0,3.5,1.5,5.5,1.0,11.5,0.5,0.5,1.0,0

In [171]:
left_join = left_join.rename(columns={"Region/Haplogroup": "Country", "Total": "NumberOfCases"})

In [172]:
left_join.head()

,Country,I1,I2*/I2a,I2b,R1a,R1b,G,J2,J*/J1,E1b1b,T,Q,N,Deaths
0,Albania,2.0,12.0,1.5,9.0,16.0,1.5,19.5,2.0,27.5,1.0,0.0,0.0,2
1,Austria,12.0,7.0,2.5,19.0,32.0,7.5,9.0,1.0,8.0,1.0,0.5,0.5,6
2,Belarus,5.5,17.5,1.0,51.0,5.5,1.5,2.5,1.0,4.0,0.0,0.0,10.0,0
3,Belgium,12.0,3.0,4.5,4.0,61.0,4.0,4.0,1.0,5.0,1.0,0.5,0.0,21
4,Bosnia-Herzegovina,4.5,50.5,0.0,18.0,3.5,1.5,5.5,1.0,11.5,0.5,0.5,1.0,0

In [173]:
features = [
    "I1","I2*/I2a",
    "I2b","R1a",
    "R1b","G",
    "J2","J*/J1",
    "E1b1b","T",
    "Q","N",
]

In [174]:
#left_join['NumberOfCases'] = left_join['NumberOfCases'].str.replace(',', '').astype(float)

In [175]:
left_join.head()

,Country,I1,I2*/I2a,I2b,R1a,R1b,G,J2,J*/J1,E1b1b,T,Q,N,Deaths
0,Albania,2.0,12.0,1.5,9.0,16.0,1.5,19.5,2.0,27.5,1.0,0.0,0.0,2
1,Austria,12.0,7.0,2.5,19.0,32.0,7.5,9.0,1.0,8.0,1.0,0.5,0.5,6
2,Belarus,5.5,17.5,1.0,51.0,5.5,1.5,2.5,1.0,4.0,0.0,0.0,10.0,0
3,Belgium,12.0,3.0,4.5,4.0,61.0,4.0,4.0,1.0,5.0,1.0,0.5,0.0,21
4,Bosnia-Herzegovina,4.5,50.5,0.0,18.0,3.5,1.5,5.5,1.0,11.5,0.5,0.5,1.0,0

In [176]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [177]:
left_join.describe()

,I1,I2*/I2a,I2b,R1a,R1b,G,J2,J*/J1,E1b1b,T,Q,N
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,9.931818,10.113636,2.340909,18.261364,28.090909,3.272727,7.079545,1.443182,9.340909,1.045455,1.681818,5.625000
std,9.071160,11.820786,1.863894,15.520612,22.539957,3.056549,7.260072,2.298169,9.589707,1.145356,7.400574,13.238477
min,0.500000,0.000000,0.000000,1.000000,3.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.500000
25%,4.500000,1.500000,1.000000,4.375000,10.625000,1.000000,2.375000,0.000000,2.500000,0.375000,0.000000,0.000000
50%,6.250000,4.250000,2.000000,15.500000,18.250000,2.500000,4.000000,0.750000,6.500000,0.750000,0.500000,0.750000
75%,12.500000,16.375000,3.500000,29.750000,42.625000,5.000000,9.125000,1.625000,13.125000,1.125000,1.000000,2.625000
max,37.000000,50.500000,8.000000,57.500000,81.000000,13.000000,28.500000,9.500000,47.500000,4.500000,49.500000,61.500000

In [178]:
left_join.head()

,Country,I1,I2*/I2a,I2b,R1a,R1b,G,J2,J*/J1,E1b1b,T,Q,N,Deaths
0,Albania,2.0,12.0,1.5,9.0,16.0,1.5,19.5,2.0,27.5,1.0,0.0,0.0,2
1,Austria,12.0,7.0,2.5,19.0,32.0,7.5,9.0,1.0,8.0,1.0,0.5,0.5,6
2,Belarus,5.5,17.5,1.0,51.0,5.5,1.5,2.5,1.0,4.0,0.0,0.0,10.0,0
3,Belgium,12.0,3.0,4.5,4.0,61.0,4.0,4.0,1.0,5.0,1.0,0.5,0.0,21
4,Bosnia-Herzegovina,4.5,50.5,0.0,18.0,3.5,1.5,5.5,1.0,11.5,0.5,0.5,1.0,0

In [179]:
left_join.shape

(44, 14)

In [180]:
X = left_join[features]
y = left_join['Deaths']
y = y.fillna(0)
X.shape

(44, 12)

In [181]:
from sklearn.utils import resample
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

print (X.shape)
print (y.shape)

(44, 12)
(44,)

In [182]:
X = X.fillna(0) #no cases

In [183]:
rf = RandomForestRegressor(n_estimators=100)
rf.fit(X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [184]:
rf.feature_importances_

array([0.05868346, 0.07072554, 0.09865185, 0.1184224 , 0.07042298,
       0.35547889, 0.06766266, 0.06901394, 0.02966072, 0.01632082,
       0.03124073, 0.01371601])

In [185]:
X

      I1  I2*/I2a  I2b   R1a   R1b     G    J2  J*/J1  E1b1b    T     Q     N
0    2.0     12.0  1.5   9.0  16.0   1.5  19.5    2.0   27.5  1.0   0.0   0.0
1   12.0      7.0  2.5  19.0  32.0   7.5   9.0    1.0    8.0  1.0   0.5   0.5
2    5.5     17.5  1.0  51.0   5.5   1.5   2.5    1.0    4.0  0.0   0.0  10.0
3   12.0      3.0  4.5   4.0  61.0   4.0   4.0    1.0    5.0  1.0   0.5   0.0
4    4.5     50.5  0.0  18.0   3.5   1.5   5.5    1.0   11.5  0.5   0.5   1.0
5    4.0     20.0  2.0  17.0  11.0   5.0  11.0    3.0   23.5  1.5   0.5   0.5
6    5.5     37.0  1.0  24.0   8.5   2.5   6.0    1.0   10.0  0.5   1.0   0.5
7    7.5      8.5  3.0  33.0  28.0   5.0   4.0    1.0    6.5  0.5   0.0   2.5
8    0.5      4.0  0.0   3.5   9.5  13.0  28.5    9.5   24.5  2.5   0.5   1.0
9   34.0      2.0  5.5  15.0  33.0   2.5   3.0    0.0    2.5  0.0   1.0   1.0
10  14.5      0.0  2.0   9.0  21.5   0.0   2.0    0.0    0.5  0.0  49.5   0.0
11  14.0      2.5  4.5   4.5  67.0   1.5   3.5    0.0    2.0  0.5   0.5   0.0
12  15.0      3.0  0.5  32.0   8.0   0.0   1.0    0.0    2.5  3.5   0.5  34.0
13  28.0      0.0  0.5   5.0   3.5   0.0   0.0    0.0    0.5  0.0   0.0  61.5
14   8.5      3.0  3.5   3.0  58.5   5.5   6.0    1.5    7.5  1.0   0.5   0.0
15  16.0      1.5  4.5  16.0  44.5   5.0   4.5    0.0    5.5  1.0   0.5   1.0
16   3.5      9.5  1.5  11.5  15.5   6.5  23.0    3.0   21.0  4.5   0.0   0.0
17   8.5     16.0  2.0  29.5  18.5   3.5   6.5    3.0    8.0  0.0   0.0   0.5
18  29.0      0.0  4.0  23.0  42.0   0.0   0.0    0.0    0.0  0.0   1.0   1.0
19   6.0      1.0  5.0   2.5  81.0   1.0   1.0    0.0    2.0  0.0   0.0   0.0
20   4.5      3.0  2.5   4.0  39.0   9.0  15.5    3.0   13.5  2.5   0.0   0.0
21   5.5      2.5  0.0   4.5  21.0   0.0  16.5    0.0   47.5  0.0   0.0   0.0
22   6.0      1.0  1.0  40.0  12.0   0.0   0.5    0.0    0.5  0.5   0.5  38.0
23   6.0      6.0  1.0  38.0   5.0   0.0   0.0    0.0    1.0  0.5   0.5  42.0
24   3.0     23.0  1.5  13.5  12.5   4.0  14.0    2.0   21.5  1.5   0.5   0.5
25   1.0     10.0  1.0   3.5  32.5   6.5  21.0    8.0    9.0  4.5   1.0   0.0
26   5.0     21.0  3.0  30.5  16.0   1.0   4.0    4.0   13.0  1.0   0.0   1.5
27   6.0     29.5  1.5   7.5   9.5   2.5   9.0    0.5   27.0  0.0   2.0   1.5
28  16.5      1.0  6.5   4.0  49.0   4.5   3.5    0.5    3.5  1.0   0.0   0.0
29  31.5      0.0  4.5  25.5  32.0   1.0   0.5    0.0    1.0  0.0   1.0   2.5
30   8.5      5.5  2.0  57.5  12.5   1.5   2.5    0.0    3.5  0.5   0.5   4.0
31   2.0      1.5  3.0   1.5  56.0   6.5   9.5    3.0   14.0  2.5   0.5   0.0
32   3.5     28.0  2.5  18.0  15.5   3.0  13.5    1.0   14.0  1.0   0.5   1.5
33   5.0     10.5  0.0  46.0   6.0   1.0   3.0    0.0    2.5  1.5   1.5  23.0
34   9.0      1.0  4.0   8.5  72.5   0.5   2.0    0.0    1.5  0.5   0.5   0.0
35   8.0     34.0  0.5  18.0   6.0   2.5   9.0    1.0   15.0  0.5   1.0  -2.5
36   6.5     16.0  1.5  41.5  14.5   4.0   2.0    1.0    6.5  0.5   0.5   3.0
37   9.0     20.5  1.5  38.0  18.0   1.5   2.5    0.0    5.0  1.0   0.0   0.0
38   1.5      4.5  1.0   2.0  69.0   3.0   8.0    1.5    7.0  2.5   0.0   0.0
39  37.0      1.5  3.5  16.0  21.5   1.0   2.5    0.0    3.0  0.0   2.5   7.0
40  14.0      1.5  8.0   3.5  50.0   7.5   3.0    0.5    7.5  0.5   1.5   1.0
41   1.0      4.0  0.5   7.5  16.0  11.0  24.0    9.0   11.0  2.5   2.0   4.0
42   4.5     20.5  0.5  44.0   8.0   3.0   4.5    0.5    6.5  1.0   0.5   5.5
43  12.0      1.0  3.0   1.0  74.0   2.5   0.5    0.0    4.0  1.0   0.0   0.0

In [186]:
y

0        2
1        6
2        0
3       21
4        0
5        3
6        1
7        0
8        0
9        6
10       0
11     130
12       0
13       0
14     372
15      44
16       6
17       1
18       0
19       3
20    3405
21       0
22       0
23       0
24       0
25       0
26       1
27       0
28      76
29       7
30       5
31       3
32       0
33       1
34       6
35       0
36       0
37       1
38     830
39      11
40      41
41       3
42       3
43       2
Name: Deaths, dtype: object

In [187]:
from sklearn.feature_selection import RFE

rf_small = RandomForestRegressor(n_estimators=100)
selector = RFE(rf_small, 
                 step=1, # features removed at each step
                 n_features_to_select=1 # selected features
                )
selector.fit(X,y)

RFE(estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                    max_depth=None, max_features='auto',
                                    max_leaf_nodes=None,
                                    min_impurity_decrease=0.0,
                                    min_impurity_split=None, min_samples_leaf=1,
                                    min_samples_split=2,
                                    min_weight_fraction_leaf=0.0,
                                    n_estimators=100, n_jobs=None,
                                    oob_score=False, random_state=None,
                                    verbose=0, warm_start=False),
    n_features_to_select=1, step=1, verbose=0)

In [188]:
def feature_el(i):
    selector = RFE(rf, i, step = 1)
    selector = selector.fit(X,y)
    selector.support_
    is_approved = lambda i : selector.support_[i] == True
    selected_features = [x for x in features if is_approved(features.index(x))]
    return (selected_features)

In [189]:
for i in range(1,10):
    print(feature_el(i))

['G']
['I1', 'G']
['I1', 'R1a', 'G']
['I1', 'I2b', 'R1b', 'G']
['I1', 'I2b', 'R1a', 'R1b', 'G']
['I1', 'I2b', 'R1a', 'R1b', 'G', 'J2']
['I1', 'I2*/I2a', 'I2b', 'R1a', 'R1b', 'G', 'J2']
['I1', 'I2*/I2a', 'I2b', 'R1a', 'R1b', 'G', 'J2', 'J*/J1']
['I1', 'I2*/I2a', 'I2b', 'R1a', 'R1b', 'G', 'J2', 'J*/J1', 'Q']